{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "standard-with-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
  ],
  "rules": {
  },
  "ignorePatterns": ["/lib/", "/typings/"],
  "reportUnusedDisableDirectives": true,
  "plugins": ["@typescript-eslint", "ava"]
}
