THINGY_MQTT_USERNAME="----"
THINGY_MQTT_PASSWORD="-----------"

# To copy from sentry.io
BACKEND_SENTRY_DSN="https://11111111111111111@o444444.ingest.sentry.io/1111111"
VUE_APP_FRONTEND_SENTRY_DSN="https://11111111111111111@o444444.ingest.sentry.io/1111111"
MESSENGER_SENTRY_DSN="https://11111111111111111@o444444.ingest.sentry.io/1111111"


# Talk to the BotFather, and type:
#   /newbot
#   <name>
#   <username>
# Get the token
TELEGRAM_TOKEN="1111111111:AAAAAAAAAAAAAAAAAAAaaaAAAAAAAAAAAAA"
# Use command /start, and get the id in the console
DEV_ID=111111111