THINGY_MQTT_USERNAME="----"
THINGY_MQTT_PASSWORD="-----------"


# Talk to the BotFather, and type:
#   /newbot
#   <name>
#   <username>
# Get the token
TELEGRAM_TOKEN="1111111111:AAAAAAAAAAAAAAAAAAAaaaAAAAAAAAAAAAA"
# Use command /start, and get the id in the console
DEV_ID=111111111